<div class="small-user-notif">
  <div class="notif-badge unread"></div>
  <div class="notif-title">New <%= @notif.type %> !</div>
  <div class="notif-content">This notif is the <%= @notif.id.ordinalize %></div>
</div>